body, h1, ul, li, p {
    margin: 0;
    padding: 0;
}


#monSliderParent {
    background-color: red;
    position: relative;
    height: 300px;
    overflow: hidden;
}

#monSliderContent {
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    transition : 0.5s;
}

#monSliderArrows{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content : space-between;
}


#monSliderSlide1 {
    background-color: cornflowerblue;
}

#monSliderSlide2 {
    background-color: coral;
}

#monSliderSlide3{
        background-color: fuchsia;
}

#monSliderSlide4{
    background-color: lime;
}

.slide {
    width: 25%;
}
